<h1>Your Order</h1>
<h1><%=@wine.title%></h1>
<p><%=image_tag (@wine.wine_image)%></p>
<em><%=@wine.variety%></em>
<p><%=@wine.description%></p>
<p><%=number_to_currency @wine.price%></p>
<button id="pay-now">Checkout Now<button>

<script src="https://js.stripe.com/v3/"></script>

<script>
function redirectToStripe() {
    var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>');
    stripe.redirectToCheckout({
        sessionId: '<%= @session.id %>'
    }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
    });
}

document.querySelector("#pay-now").addEventListener("click", redirectToStripe)

</script>
<a href="/wines" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back to wines</a>
