<%= form_with(model: vineyard, local: true) do |form| %>
  <% if vineyard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vineyard.errors.count, "error") %> prohibited this vineyard from being saved:</h2>

      <ul>
        <% vineyard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :main_image %>
    <%= form.file_field :main_image %>
  </div>
  
  <div class="field">
  <%= form.label :about %>
  <%= form.text_field :about %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
