<p id="notice"><%= notice %></p>

<h1>Vineyards</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>About</th>
      <th>Main image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vineyards.each do |vineyard| %>
      <tr>
        <p><%= vineyard.title %></p>
        <td><%= vineyard.about %></td>
        <td><%= vineyard.main_image %></td>
        <td><%= link_to 'Show', vineyard %></td>
        <td><%= link_to 'Edit', edit_vineyard_path(vineyard) %></td>
        <td><%= link_to 'Destroy', vineyard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vineyard', new_vineyard_path %>
