<p id="notice"><%= notice %></p>

<h1>Vineyards</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>About</th>
      <th>Main image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vineyards.each do |vineyard| %>
    
        <p><%= vineyard.title %></p>
        <%= image_tag(vineyard.main_image) %> <!-- this creates an <img src="https:image_url_from_web"> -->
        <p><%= vineyard.about %></p>
        <tr><%= link_to 'Show', vineyard %></tr>
        <tr><%= link_to 'Edit', edit_vineyard_path(vineyard) %></tr>
        <tr><%= link_to 'Delete', vineyard, method: :delete, data: { confirm: 'Are you sure?' } %></tr>
    
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vineyard', new_vineyard_path %>
