<h1> Our Wines</h1>

<% @wines%>
<%@wines.each do |wine|%>
	<p><%=link_to wine.title, wine_path(wine)%></p>
	<p><%=  image_tag(wine.wine_image) if wine.wine_image.attached?%></p>
	 
	<p><%= wine.description%></p>
	<p><%= number_to_currency wine.price %></p>
	<%if current_user%>
	<p><%= link_to "Add to Wishlist", my_wines_path(wine_id: wine.id), method: :post%></p>

	<p><%= link_to "Buy Now!", new_order_path(wine_id: wine.id)%></p>
	<%end%>

<%end%>