<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @vineyard.title %>
</p>

<p>
  <strong>About:</strong>
  <%= @vineyard.about %>
</p>

<p>
  <strong>Main image:</strong>
  <%= image_tag(@vineyard.main_image) %>
</p>

<%= link_to "Our Wines", our_wines_path(@vineyard) %>

<%= link_to 'Edit', edit_vineyard_path(@vineyard) %> |
<%= link_to 'Back', vineyards_path %>
