<h1>Wines</h1>

<tr> <% @wines.each do |wine|%></tr>
    <tr> <%= image_tag wine.wine_image%></tr>
    <tr> <%= wine.title%></tr>
    <tr> <%= wine.variety%></tr>
    <tr> <%= wine.description%></tr>
    <tr> <%= wine.price%></tr>
    <%end%>