
<p id="notice"><%= notice %></p>
<h1>Wines</h1>
<% if user_signed_in? && current_user.has_role?(:admin) %>
    <%= link_to "Create new Wine", new_wine_path%>
<%end%> 
<% @wines.each do |wine|%>
    <h1><%= link_to wine.title, wine_path(wine)%></h1>
    <p>Vineyard: <%= wine.vineyard.title%></p>
    <%= image_tag(wine.wine_image)%> <!-- this creates an <img src="https:image_url_from_web"> -->
    <p>Variety : <%= wine.variety%></p>
    <p><%= wine.description%></p>
    <% if wine.price %>
        <h5>Price : <%= number_to_currency wine.price %></h5>
      <%if current_user%>
        <p><%= link_to "Buy Now!", new_order_path(wine_id: wine.id)%></p>
        <p><%= link_to "Add to Wishlist", my_wines_path(wine_id: wine.id), method: :post%></p>
      <%end%>
    <%end%>
   
    <% if user_signed_in? && current_user.has_role?(:admin) %>
        <p><%= link_to wine.status, toggle_status_wine_path(wine)%></p>
        <p><%= link_to "Edit", edit_wine_path(wine)%></p>
        <p><%= link_to 'Delete Item', wine_path(wine), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <%end%>
<%end%>

