<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%=render "shared/application_nav"%>
          
         <div><%= yield %></div> 
        </div>
      </header>
     </div>
  </body>
</html>
