<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <nav>
        <p><%= link_to "Home", root_path%> | 
           <%= link_to "Vineyards", vineyards_path%> | 
           <%= link_to "Wines", wines_path%> |
           <%= link_to "My-cart", my_cart_path%> | 
           <%= link_to "Contact-us", contact_path%> | 
           <%if current_user%>
           <%= link_to "Logout", destroy_user_session_path, method: :delete%>
           <% else %>
           <%= link_to "Register",  new_user_registration_path%>
           <%= link_to "Login", new_user_session_path%>
           <% end %>
        <p>
        
        <div> </div>
      </nav>
 
    <%= yield %>
  </body>
</html>
